:root {
  --side-color: #212121;
  --center-color: #1b1b1b;
  --button-background-color: #373737;
  --video-font-size: 12px;
}

.home-body {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.home-side {
  background-color: var(--side-color);
  min-height: 100vh;
  position: relative;
  width: 10%;
  border-right: 1px black solid;
}

.home-center {
  background-color: var(--center-color);
  min-height: 100vh;
  position: relative;
  width: 90%;
}

.home-button-group {
  display: flex;
  border-bottom: 2px solid gray;
  border-top: 2px solid gray;
  overflow: auto;
  align-items: center;
  justify-content: center;
}

.home-button-group > button {
  min-width: 70px;
  height: 30px;
  border-radius: 20px;
  background-color: var(--button-background-color);
  color: white;
  font-size: 14px;
  font-weight: 700;
  margin: 10px 10px;
}

.home-videoView-group {
  display: flex;
  flex-wrap: wrap;
}

.video-group {
  min-width: 20%;
  margin: 10px 30px;
  max-width: 260px;
  max-height: 500px;
}

.thumbnail-image {
  min-width: 260px;
  max-height: 190px;
}

.video-media-info-group {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.profile-image {
  width: 36px;
  height: 36px;
  border-radius: 15px;
  flex: 1;
}

.video-info {
  flex: 9;
  display: flex;
  flex-direction: column;
  margin: 5px 10px;
}

.video-title {
  color: white;
  white-space: nowrap;
  margin-bottom: 5px;
  font-size: var(--video-font-size);
  font-weight: 700;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
}

.video-uploader {
  color: gray;
  font-size: var(--video-font-size);
  font-weight: 600;
}

.video-upload-view {
  font-size: 11px;
  font-weight: 600;
  color: gray;
}

.video-upload-date {
  font-size: 11px;
  font-weight: 600;
  color: gray;
}

@media screen and (max-width: 800px) {
  .home-side {
    width: 0%;
  }

  .home-center {
    width: 100%;
  }

  .home-button-group {
    align-items: unset;
    justify-content: unset;
  }
  /* .home-button-group::-webkit-scrollbar {
    display: none;
  } */
}

@media screen and (max-width: 768px) {
  .home-videoView-group {
    align-items: center;
    justify-content: center;
  }
}
