:root {
  --center-color: #1b1b1b;
  --border-line-color: #efefef;
}

.video-upload {
  border-top: 1px solid var(--border-line-color);
  background-color: var(--center-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: -1;
}

.video-info-group {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-line-color);
}

.video-info-each-title {
  flex: 2.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-info-each-htmlTag {
  flex: 7.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contents-span {
  color: white;
  font-weight: 900;
}

.media-dragger {
  width: 90%;
}

.ant-upload-span {
  background-color: white;
}

#video-title {
  width: 90%;
  height: 55px;
}

#video-description {
  width: 90%;
  height: 130px;
}

#video-tag {
  width: 90%;
}

#video-nickname {
  width: 90%;
  height: 32px;
}

.video-upload-button-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-upload-button-group > button {
  height: 80px;
}

@media screen and (max-width: 768px) {
  .video-info-group {
    flex-direction: column;
  }

  .video-info-each-title {
    flex: 2.5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .video-info-each-htmlTag {
    flex: 7.5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .media-dragger {
    width: 100%;
  }

  #video-title {
    width: 100%;
  }

  #video-description {
    width: 100%;
  }

  #video-tag {
    width: 100%;
  }

  #video-nickname {
    width: 100%;
    height: 32px;
  }
}
