* {
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

button,
input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  border: 1px solid #d0d0d0;
}

body {
  margin: 0;
}

#body {
  min-height: 100vh;
  max-width: 4048px;
  margin: 0 auto;
}
